@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $text-color: (
    primary: #fff,
    regular: #ffffff
  ),
  $bg-color: (
    "": #0b2363,
    "overlay": #052366
  ),
  $fill-color: (
    "light": #095cbd,
    "blank": #052366
  ),
  $colors: (
    "primary": (
      "base": #369ef8
    )
  ),

  // table
  $table:
    (
      "bg-color": transprenet,
      "tr-bg-color": #043f91,
      "header-bg-color": #095cbd,
      "header-text-color": rgba(255, 255, 255, 0.8)
    ),

  // pagination
  $pagination:
    (
      "bg-color": #05266e,
      "button-color": #fff,
      "hover-color": #fff,
      "button-disabled-bg-color": #253194,
      "button-bg-color": transparent
    ),

  // datepicker
  $datepicker:
    (
      "inrange-bg-color": #095cbd,
      "inrange-hover-bg-color": #095cbd,
      "icon-color": #fff
    ),

  $input: (
    "bg-color": #173a66,
    "border-color": #369ef8
  ),
  $button: (
    "hover-text-color": #ffffff,
    "hover-bg-color": #052366
  ),
  $collapse: (
    "header-text-color": #fff,
    "header-bg-color": #095cbd
  )
);
@use "element-plus/theme-chalk/src/index.scss" as *;

// 分页
.el-pagination {
  .el-pagination__total {
    font-size: 14px;
    font-family:
      Microsoft YaHei-Regular,
      Microsoft YaHei;
    font-weight: 400;
    line-height: 15px;
  }

  .btn-next,
  .btn-prev {
    border: 1px solid #dcdfe6;
  }

  .el-pager {
    li {
      border: 1px solid #dcdfe6;
    }

    li.is-active {
      background-color: #369ef8;
    }
  }
}

// 列表
.el-table {
  .el-table__inner-wrapper::before {
    height: 0;
  }

  .el-table__header {
    tr {
      .el-table__cell {
        border-bottom: none;
      }
    }
  }

  .el-table__body {
    //-webkit-border-horizontal-spacing: 13px;  // 水平间距
    -webkit-border-vertical-spacing: 13px; // 垂直间距
    .el-table__row {
      height: 40px;

      .el-table__cell {
        border: none;
      }

      .el-table-fixed-column--right,
      .el-table-fixed-column--left {
        background-color: #043f91;
      }
    }
    tr.hover-row {
      .el-table-fixed-column--right,
      .el-table-fixed-column--left {
        background-color: var(--el-table-row-hover-bg-color);
      }
    }
  }
}

// 表单
.el-form {
  .el-form-item__label {
    color: #fff;
  }
}

.el-tree {
  .el-tree-node.is-current {
    & > .el-tree-node__content {
      background-color: #369ef8;
    }
  }
}

// 弹框
.el-overlay-dialog {
  display: flex;
  justify-content: center;
  align-items: center;

  .el-dialog {
    margin: 0 !important;
    display: flex;
    flex-direction: column;

    .el-dialog__header {
      height: 42px;
      background: #1765e3;
      padding-top: 0;
      padding-bottom: 0;
      margin-right: 0;
      line-height: 42px;
      .el-dialog__headerbtn {
        top: 5px;
        height: auto;
        color: #fff;
      }
    }

    .el-dialog__body {
      flex: 1;
      overflow: hidden;

      .el-collapse-item__header {
        padding-left: 16px;
      }
    }
  }
}

// tabs
.el-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;

  .el-tabs__header {
    margin-bottom: 0;
    border-bottom: none;
    height: 42px;

    .el-tabs__item {
      width: 138px;
      height: 42px;
      background: #1b3d9f;
      border-radius: 4px 4px 0px 0px;
      opacity: 1;
      border: 1px solid #1765e3;
      font-size: 18px;
      font-family:
        Microsoft YaHei-Regular,
        Microsoft YaHei;
      font-weight: 400;
      color: #ffffff;
      line-height: 21px;
      margin-right: 5px;
    }

    .el-tabs__item.is-active {
      background-color: #1765e3;
      border-bottom: none;
    }

    .el-tabs__nav {
      border: none;
    }
  }

  .el-tabs__content {
    flex: 1;
    padding: 0px;
    background-color: #0b2363;

    .el-tab-pane {
      height: 100%;
    }
  }
}

.el-image-viewer {
  &__btn {
    background-color: #052366 !important;
  }
}
